## In this notebook we merged 2 dataset to understand customers and their confirmations, time and error rate:

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', 500)  #help to see all the columns
%matplotlib inline

In [3]:
df_pt1 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_1.txt")
df_pt2 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_2.txt")
df_ex_cl = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_experiment_clients.txt")

In [4]:
df_ex_cl.dropna(inplace=True)

In [5]:
df_ex_cl

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [6]:
df_var_group = df_ex_cl.groupby("Variation")

In [7]:
for key, group in df_var_group:
    print(f"Variation: {key}")
    print(group[['client_id']])
    print()

Variation: Control
       client_id
2        4033851
4        9294070
7        6651403
9        2105948
12       9814849
...          ...
50491    4364429
50493    8730282
50494    5305116
50495     393005
50496    2908510

[23532 rows x 1 columns]

Variation: Test
       client_id
0        9988021
1        8320017
3        1982004
5        9466803
6        3170143
...          ...
50490    5969816
50492    8692087
50497    7230446
50498    5230357
50499    6334360

[26968 rows x 1 columns]

In [8]:
df_ex_cl['client_id'].nunique()

50500

**2. and 3. data and merge them**

In [9]:
df_web_data = pd.concat([df_pt1, df_pt2], axis=0, ignore_index=True)
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [10]:
df_web_data['date_time'] = pd.to_datetime(df_web_data['date_time'])

# Display the DataFrame with updated data types
print("\nDataFrame with updated data types:")
print(df_web_data.dtypes)

DataFrame with updated data types:
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [11]:
df_web_data.drop_duplicates(inplace=True)

In [12]:
# 4)How many times this client go to confirm prosess 
# Generating a crosstab for 'client_id' and 'process_step'
df_web_data_crosstab = pd.crosstab(df_web_data['visit_id'], df_web_data['process_step'])
df_web_data_crosstab.sort_values(by='confirm', ascending = False)

process_step                  confirm  start  step_1  step_2  step_3
visit_id
435978514_20801260238_387838       15      2       2       2       2
51030400_49907048940_545931        13      0       0       0       0
155305468_93296256914_310722       11      0       0       0       0
502960396_34312689040_425168       10      4       2       2       2
757871028_15106530273_112760       10      2       2       1       1
...                               ...    ...     ...     ...     ...
299972275_83427946066_908366        0      6       1       0       0
299962424_37024196097_666000        0      2       0       0       0
299961844_46160297390_125314        0      1       0       0       0
532511366_24847742688_450856        0      1       0       0       0
298979466_26805302616_31976         0      1       1       1       0

[158095 rows x 5 columns]

In [13]:
df_web_data_v = pd.merge(df_web_data, df_ex_cl, on='client_id')
df_web_data_v

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [14]:
# Sort by 'visit_id' and 'date_time'
df_web_data_v = df_web_data_v.sort_values(by=['visit_id', 'date_time'])

# Define the specific order for the process steps
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Convert the process_step column to a categorical type with the specified order
df_web_data_v['process_step'] = pd.Categorical(df_web_data_v['process_step'], categories=process_order, ordered=True)

# Sort the DataFrame by visit_ID and process_step
df_web_data_v_sorted = df_web_data_v.sort_values(by=['visit_id', 'date_time'])


# Identify transitions
df_web_data_v_sorted['next_step'] = df_web_data_v_sorted.groupby('visit_id')['process_step'].shift(-1)

# Flag errors (backward transitions)
df_web_data_v_sorted['is_error'] = df_web_data_v_sorted.apply(lambda row: process_order.index(row['process_step']) > process_order.index(row['next_step']) if pd.notnull(row['next_step']) else False, axis=1)

# Calculate error rates
error_counts = df_web_data_v_sorted.groupby('visit_id')['is_error'].sum().reset_index(name='error_count')
total_steps = df_web_data_v_sorted.groupby('visit_id')['process_step'].count().reset_index(name='total_steps')

# Merge error counts and total steps
error_rate_df = pd.merge(error_counts, total_steps, on='visit_id')
error_rate_df['error_rate'] = error_rate_df['error_count'] / error_rate_df['total_steps']

In [15]:
df_web_data_v_sorted.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,confirm,False
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaN,False
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,start,False
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,step_1,False
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,step_2,False
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,step_3,False
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,confirm,False
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaN,False
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,step_1,False
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,step_2,False
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,step_3,False
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,confirm,False
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaN,False
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,False
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,start,False
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,step_1,False
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,True
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaN,False
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,step_1,False
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,step_2,False
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,step_3,False
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,step_1,True
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,step_2,False
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,step_3,False
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaN,False
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,step_1,False
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,step_2,False
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,step_3,False
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,step_3,False
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,confirm,False
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,step_3,True
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaN,False
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaN,False
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,step_1,False
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,step_2,False
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,step_3,False
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,confirm,False
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaN,False
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,step_1,False
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaN,False
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,start,False
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaN,False
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,step_1,False
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,step_2,False
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,step_3,False
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,confirm,False
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaN,False
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,step_1,False
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,start,True
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,step_1,False
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaN,False
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,step_1,False
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,step_1,False
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,step_2,False
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,step_3,False

In [16]:
#Define prosess order
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Have a look in every visit ID to understand the prosesses are complated and they are in order or not
def check_process_order(df):
    steps = df['process_step'].tolist()
    return all(step in steps for step in process_order)

# grouped by visit_id and apply create new colum (is complated with 1-0 numbers, 0 means not complated, 1 means complated.)
df_web_data_v_sorted['is_complete'] = df_web_data_v_sorted.groupby('visit_id')['process_step'].transform(lambda x: 1 if all(step in x.tolist() for step in process_order) else 0)

df_web_data_v_sorted.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error,is_complete
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,confirm,False,0
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaN,False,0
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False,1
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False,1
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True,1
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False,1
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True,1
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,start,False,1
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,step_1,False,1
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,step_2,False,1
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,step_3,False,1
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,confirm,False,1
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaN,False,1
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,step_1,False,1
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,step_2,False,1
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,step_3,False,1
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,confirm,False,1
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaN,False,1
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,False,0
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,start,False,0
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,step_1,False,0
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,True,0
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaN,False,0
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,step_1,False,0
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,step_2,False,0
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,step_3,False,0
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,step_1,True,0
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,step_2,False,0
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,step_3,False,0
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaN,False,0
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,step_1,False,1
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,step_2,False,1
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,step_3,False,1
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,step_3,False,1
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,confirm,False,1
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,step_3,True,1
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaN,False,1
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaN,False,0
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,step_1,False,1
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,step_2,False,1
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,step_3,False,1
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,confirm,False,1
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaN,False,1
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,step_1,False,0
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaN,False,0
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,start,False,0
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaN,False,0
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,step_1,False,1
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,step_2,False,1
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,step_3,False,1
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,confirm,False,1
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaN,False,1
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,step_1,False,0
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,start,True,0
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,step_1,False,0
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaN,False,0
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,step_1,False,1
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,step_1,False,1
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,step_2,False,1
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,step_3,False,1

In [17]:
#Hyphothesis: I assume that the test group has more complation rate than control group.

#h0 =  avarage complation rate for control >= avarage complation rate for test
#h1 =  avarage complation rate for control < avarage complation rate for test

In [18]:
df_web_data_v_sorted_control = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Control"].groupby('visit_id')["is_complete"].max()

In [19]:
df_web_data_v_sorted_test = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Test"].groupby('visit_id')["is_complete"].max()

In [20]:
df_web_data_v_sorted_control.head(60)

visit_id
100030127_47967100085_936361    0
100037962_47432393712_705583    0
100057941_88477660212_944512    0
10006594_66157970412_679648     1
100071743_53464757454_616703    0
10007589_47780784567_391490     1
100096068_8301717872_987164     0
100105975_18174738494_196339    0
100195539_90558871716_822894    0
10024125_38177552152_999695     0
100254180_47139859079_984581    1
100309269_21684743336_936307    1
100398738_80691628792_341470    0
10043239_12589390657_342180     0
10045388_98429038488_557266     0
100471971_3065983298_584030     1
100481857_71511233596_788753    1
100535920_68686957750_105554    0
100583476_33244068453_144866    0
100608591_65788886975_921579    1
100647528_93869859601_746654    0
100665997_91063490926_34691     0
100696989_79957693336_140112    0
100733473_61604582110_215085    1
100742196_25888718318_18393     1
100768839_4432812320_405870     1
100810638_79925673386_145828    0
100847537_74227021314_737120    0
100888777_10698693955_921935    0
100911179_58982643631_833777    1
100917321_50724715049_405133    0
100982387_94833499276_254813    1
100990512_10313858825_28429     0
101018131_98163417200_901367    0
101094131_85383261552_788150    0
10110963_12018428476_773812     0
101120116_70489660261_84827     1
101127163_76213781950_64100     1
101140098_34485335341_198445    0
101143883_71782939078_772553    1
101228955_33584697901_374290    0
101299207_34352941387_283858    1
10132415_28171840649_223256     1
101356945_38257202995_214098    0
101420660_70864320063_268486    1
10146625_55092448080_942181     1
101587529_99858300359_232850    0
101632251_3972004281_699230     0
101632913_38542641459_604433    1
101657019_35350936910_130328    0
101715826_97622208061_360008    0
101723155_55190658662_237894    1
101780244_22851723186_748129    0
101815309_16518757746_588210    1
101822764_25803298242_795564    0
101884417_53293783110_925967    0
101886605_42106504820_186284    0
101943895_86775091670_183092    1
10195285_83113954302_914786     1
101992635_61594742250_953624    1
Name: is_complete, dtype: int64

In [21]:
df_web_data_v_sorted_test

visit_id
100012776_37918976071_457913    0
100019538_17884295066_43909     1
100022086_87870757897_149620    1
100173292_91322748906_143563    1
100217156_67053490690_383412    1
                               ..
999960019_60838685252_926860    0
999971096_28827267783_236076    1
999976049_95772503197_182554    1
999984454_18731538378_781808    1
999988789_76411676596_272843    0
Name: is_complete, Length: 37136, dtype: int64

In [22]:
import scipy.stats as st
import numpy as np

In [23]:
from scipy.stats import ttest_ind
ttest_ind(df_web_data_v_sorted_test, df_web_data_v_sorted_control, equal_var = False, alternative='greater')

TtestResult(statistic=5.437974493844362, pvalue=2.7037413240920974e-08, df=67978.56249559305)

In [24]:
# I rejected my null hypothes (without complation rate increased by %5): If I increase than my p value is 0.725
#avarage complation rate for control >= avarage complation rate for test 
#means test group has more complation rate than control group.

In [ ]:
#one nore ttest between test and control group  with 0.05 more complation rate control group

In [42]:
df_web_data_v_sorted_control_more = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Control"].groupby('visit_id')["is_complete"].max()*1.05

In [43]:
df_web_data_v_sorted_control_more

visit_id
100030127_47967100085_936361    0.00
100037962_47432393712_705583    0.00
100057941_88477660212_944512    0.00
10006594_66157970412_679648     1.05
100071743_53464757454_616703    0.00
                                ...
999859408_41720215615_938916    1.05
999890184_77121766521_746360    0.00
999936732_27995195904_324897    0.00
999951892_54774917180_163890    0.00
999985675_64610694964_443659    1.05
Name: is_complete, Length: 32189, dtype: float64

In [44]:
from scipy.stats import ttest_ind
ttest_ind(df_web_data_v_sorted_test, df_web_data_v_sorted_control_more, equal_var = False, alternative='greater')

TtestResult(statistic=-0.5986507991681527, pvalue=0.7252961004584315, df=66929.35263341847)

In [45]:
#Our second hypothesis is :
#H0 Control group * 1.05 >= Test group
#H1: Test group > Control group * 1.05

#we can not reject H0

#### If customer went through all this steps :(Start, step1, step2, step3, confirm) with unique visit ID, than we accept that this customer finished process. we are  finding this customers who finished prosess and calculating their spent time in every prosess each and total spend time

In [25]:
df_web_data_v_sorted.groupby('visit_id')

In [26]:
df = df_web_data_v_sorted[df_web_data_v_sorted["is_complete"]== 1]
df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error,is_complete
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False,1
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False,1
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True,1
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False,1
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True,1
...,...,...,...,...,...,...,...,...,...
98379,4064969,110735946_42614968419,999985675_64610694964_443659,start,2017-04-20 09:45:18,Control,step_1,False,1
98378,4064969,110735946_42614968419,999985675_64610694964_443659,step_1,2017-04-20 09:46:26,Control,step_2,False,1
98377,4064969,110735946_42614968419,999985675_64610694964_443659,step_2,2017-04-20 09:47:04,Control,step_3,False,1
98376,4064969,110735946_42614968419,999985675_64610694964_443659,step_3,2017-04-20 09:48:45,Control,confirm,False,1
98375,4064969,110735946_42614968419,999985675_64610694964_443659,confirm,2017-04-20 10:02:48,Control,NaN,False,1

In [27]:
df_time = df[['visit_id', 'process_step', 'date_time', 'Variation']]

In [28]:
df_time

,visit_id,process_step,date_time,Variation
254660,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test
254659,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test
254658,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test
254657,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test
254656,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test
...,...,...,...,...
98379,999985675_64610694964_443659,start,2017-04-20 09:45:18,Control
98378,999985675_64610694964_443659,step_1,2017-04-20 09:46:26,Control
98377,999985675_64610694964_443659,step_2,2017-04-20 09:47:04,Control
98376,999985675_64610694964_443659,step_3,2017-04-20 09:48:45,Control
98375,999985675_64610694964_443659,confirm,2017-04-20 10:02:48,Control

In [29]:
def add_next_date_time(df):
    df = df.copy()  # Making a copy of original df(If I dont take a copy there is an error happening.)(Shift -1 here means taking the next step`s date_time as and write it to my next_date_time column )
    df['next_date_time'] = df.groupby('visit_id')['date_time'].shift(-1)
    
    #Because of every group of visit id has a last prosess, I take the last prosess and I didnt do shift for this lines because there is the prosess comes to end; Instead of I copied the same date_time for next_Date_tiem column)
    last_idx = df.groupby('visit_id').tail(1).index
    df.loc[last_idx, 'next_date_time'] = df.loc[last_idx, 'date_time']
    
    return df

df_time = add_next_date_time(df_time)

In [46]:
def calculate_time_spent(df, step_name):
    step_df = df[df['process_step'] == step_name].copy()
    time_spent_per_visit = step_df.groupby('visit_id')['time_spent_in_this_step'].sum().reset_index()
    time_spent_per_visit[f'time_spent_in_{step_name}_step'] = time_spent_per_visit['time_spent_in_this_step'].dt.total_seconds()
    return time_spent_per_visit[['visit_id', f'time_spent_in_{step_name}_step']]

# Calculate spended time for each step
steps = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
time_spent_dfs = [calculate_time_spent(df_time, step) for step in steps]

In [47]:
time_spent_dfs

[                           visit_id  time_spent_in_start_step
 0       100019538_17884295066_43909                      35.0
 1      100022086_87870757897_149620                      22.0
 2       10006594_66157970412_679648                      10.0
 3       10007589_47780784567_391490                     167.0
 4      100173292_91322748906_143563                      11.0
 ...                             ...                       ...
 32542   999958344_67534252886_39917                       6.0
 32543  999971096_28827267783_236076                      18.0
 32544  999976049_95772503197_182554                     136.0
 32545  999984454_18731538378_781808                      18.0
 32546  999985675_64610694964_443659                      68.0

 [32547 rows x 2 columns],
                            visit_id  time_spent_in_step_1_step
 0       100019538_17884295066_43909                       23.0
 1      100022086_87870757897_149620                       45.0
 2       10006594_66157970412_679648                       10.0
 3       10007589_47780784567_391490                       46.0
 4      100173292_91322748906_143563                        8.0
 ...                             ...                        ...
 32542   999958344_67534252886_39917                        8.0
 32543  999971096_28827267783_236076                       46.0
 32544  999976049_95772503197_182554                       35.0
 32545  999984454_18731538378_781808                       41.0
 32546  999985675_64610694964_443659                       38.0

 [32547 rows x 2 columns],
                            visit_id  time_spent_in_step_2_step
 0       100019538_17884295066_43909                      127.0
 1      100022086_87870757897_149620                       53.0
 2       10006594_66157970412_679648                       84.0
 3       10007589_47780784567_391490                      181.0
 4      100173292_91322748906_143563                       48.0
 ...                             ...                        ...
 32542   999958344_67534252886_39917                       26.0
 32543  999971096_28827267783_236076                       47.0
 32544  999976049_95772503197_182554                      113.0
 32545  999984454_18731538378_781808                       51.0
 32546  999985675_64610694964_443659                      101.0

 [32547 rows x 2 columns],
                            visit_id  time_spent_in_step_3_step
 0       100019538_17884295066_43909                       57.0
 1      100022086_87870757897_149620                       60.0
 2       10006594_66157970412_679648                      250.0
 3       10007589_47780784567_391490                      327.0
 4      100173292_91322748906_143563                       28.0
 ...                             ...                        ...
 32542   999958344_67534252886_39917                       42.0
 32543  999971096_28827267783_236076                       28.0
 32544  999976049_95772503197_182554                      444.0
 32545  999984454_18731538378_781808                       44.0
 32546  999985675_64610694964_443659                      843.0

 [32547 rows x 2 columns],
                            visit_id  time_spent_in_confirm_step
 0       100019538_17884295066_43909                         0.0
 1      100022086_87870757897_149620                         0.0
 2       10006594_66157970412_679648                         0.0
 3       10007589_47780784567_391490                         0.0
 4      100173292_91322748906_143563                         0.0
 ...                             ...                         ...
 32542   999958344_67534252886_39917                        65.0
 32543  999971096_28827267783_236076                         0.0
 32544  999976049_95772503197_182554                         0.0
 32545  999984454_18731538378_781808                         0.0
 32546  999985675_64610694964_443659                         0.0

 [32547 rows x 2 columns]]

In [48]:
final_df = time_spent_dfs[0]
for step_df in time_spent_dfs[1:]:
    final_df = final_df.merge(step_df, on='visit_id', how='outer')

# Variationcolumn(it is the same for  every line of visit ID  group.So I take that value:if it is control or test)
final_df = final_df.merge(df[['visit_id', 'Variation']].drop_duplicates(), on='visit_id')

# I am choosing final colums for my dataframe 
final_columns = ['visit_id'] + [f'time_spent_in_{step}_step' for step in steps] + ['Variation']
final_df = final_df[final_columns]
print(final_df)

                           visit_id  time_spent_in_start_step  \
0       100019538_17884295066_43909                      35.0
1      100022086_87870757897_149620                      22.0
2       10006594_66157970412_679648                      10.0
3       10007589_47780784567_391490                     167.0
4      100173292_91322748906_143563                      11.0
...                             ...                       ...
32652   999958344_67534252886_39917                       6.0
32653  999971096_28827267783_236076                      18.0
32654  999976049_95772503197_182554                     136.0
32655  999984454_18731538378_781808                      18.0
32656  999985675_64610694964_443659                      68.0

       time_spent_in_step_1_step  time_spent_in_step_2_step  \
0                           23.0                      127.0
1                           45.0                       53.0
2                           10.0                       84.0
3                           46.0                      181.0
4                            8.0                       48.0
...                          ...                        ...
32652                        8.0                       26.0
32653                       46.0                       47.0
32654                       35.0                      113.0
32655                       41.0                       51.0
32656                       38.0                      101.0

       time_spent_in_step_3_step  time_spent_in_confirm_step Variation
0                           57.0                         0.0      Test
1                           60.0                         0.0      Test
2                          250.0                         0.0   Control
3                          327.0                         0.0   Control
4                           28.0                         0.0      Test
...                          ...                         ...       ...
32652                       42.0                        65.0      Test
32653                       28.0                         0.0      Test
32654                      444.0                         0.0      Test
32655                       44.0                         0.0      Test
32656                      843.0                         0.0   Control

[32657 rows x 7 columns]

In [49]:
final_df.head(100)
final_df.to_csv('final_df.csv')

In [50]:
time_columns = [
    'time_spent_in_start_step',
    'time_spent_in_step_1_step',
    'time_spent_in_step_2_step',
    'time_spent_in_step_3_step',
    'time_spent_in_confirm_step'
]

# Toplam sÃ¼reyi hesapla ve yeni bir sÃ¼tuna ekle
final_df['total_spend_time'] = final_df[time_columns].fillna(0).sum(axis=1)

final_df

,visit_id,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,Variation,total_spend_time
0,100019538_17884295066_43909,35.0,23.0,127.0,57.0,0.0,Test,242.0
1,100022086_87870757897_149620,22.0,45.0,53.0,60.0,0.0,Test,180.0
2,10006594_66157970412_679648,10.0,10.0,84.0,250.0,0.0,Control,354.0
3,10007589_47780784567_391490,167.0,46.0,181.0,327.0,0.0,Control,721.0
4,100173292_91322748906_143563,11.0,8.0,48.0,28.0,0.0,Test,95.0
...,...,...,...,...,...,...,...,...
32652,999958344_67534252886_39917,6.0,8.0,26.0,42.0,65.0,Test,147.0
32653,999971096_28827267783_236076,18.0,46.0,47.0,28.0,0.0,Test,139.0
32654,999976049_95772503197_182554,136.0,35.0,113.0,444.0,0.0,Test,728.0
32655,999984454_18731538378_781808,18.0,41.0,51.0,44.0,0.0,Test,154.0
32656,999985675_64610694964_443659,68.0,38.0,101.0,843.0,0.0,Control,1050.0

In [51]:
control_group_times= final_df[final_df["Variation"]== "Control"]

In [52]:
test_group_times=final_df[final_df["Variation"] == "Test"]

In [53]:
control_group_times

,visit_id,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,Variation,total_spend_time
2,10006594_66157970412_679648,10.0,10.0,84.0,250.0,0.0,Control,354.0
3,10007589_47780784567_391490,167.0,46.0,181.0,327.0,0.0,Control,721.0
6,100254180_47139859079_984581,52.0,52.0,57.0,180.0,0.0,Control,341.0
9,100309269_21684743336_936307,19.0,29.0,84.0,108.0,0.0,Control,240.0
12,100471971_3065983298_584030,14.0,4.0,62.0,75.0,0.0,Control,155.0
...,...,...,...,...,...,...,...,...
32635,999512351_9425260762_890767,10.0,14.0,75.0,62.0,0.0,Control,161.0
32638,999528108_94761236019_731649,11.0,16.0,80.0,111.0,0.0,Control,218.0
32639,999528902_49133507319_516085,44.0,32.0,97.0,340.0,0.0,Control,513.0
32649,999859408_41720215615_938916,104.0,41.0,120.0,78.0,0.0,Control,343.0
32656,999985675_64610694964_443659,68.0,38.0,101.0,843.0,0.0,Control,1050.0

In [54]:
test_group_times

,visit_id,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,Variation,total_spend_time
0,100019538_17884295066_43909,35.0,23.0,127.0,57.0,0.0,Test,242.0
1,100022086_87870757897_149620,22.0,45.0,53.0,60.0,0.0,Test,180.0
4,100173292_91322748906_143563,11.0,8.0,48.0,28.0,0.0,Test,95.0
5,100217156_67053490690_383412,36.0,344.0,137.0,500.0,0.0,Test,1017.0
7,100258507_71262593004_214494,376.0,497.0,29.0,43.0,68.0,Test,1013.0
...,...,...,...,...,...,...,...,...
32651,999954858_74676709104_879685,9.0,12.0,34.0,30.0,42.0,Test,127.0
32652,999958344_67534252886_39917,6.0,8.0,26.0,42.0,65.0,Test,147.0
32653,999971096_28827267783_236076,18.0,46.0,47.0,28.0,0.0,Test,139.0
32654,999976049_95772503197_182554,136.0,35.0,113.0,444.0,0.0,Test,728.0
32655,999984454_18731538378_781808,18.0,41.0,51.0,44.0,0.0,Test,154.0

In [55]:
#Lets find average spend times for each steps for control group and test group:

final_df.describe()

,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,total_spend_time
count,32657.000000,32657.000000,32657.000000,32657.000000,32657.000000,32657.000000
mean,70.988762,64.228864,108.944974,142.624430,35.803166,422.590195
std,222.913599,172.252807,163.804828,234.575845,293.951904,549.701145
min,0.000000,0.000000,0.000000,8.000000,0.000000,35.000000
25%,9.000000,14.000000,49.000000,38.000000,0.000000,165.000000
50%,17.000000,28.000000,78.000000,70.000000,0.000000,268.000000
75%,50.000000,59.000000,125.000000,148.000000,0.000000,473.000000
max,11221.000000,16098.000000,17963.000000,6138.000000,16502.000000,18015.000000

In [56]:
control_group_times.describe()

,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,total_spend_time
count,14807.000000,14807.000000,14807.000000,14807.000000,14807.000000,14807.000000
mean,71.577767,54.494834,112.236240,157.536098,23.243061,419.087999
std,220.520989,190.203670,120.925863,222.740714,220.208772,489.678408
min,0.000000,0.000000,3.000000,8.000000,0.000000,35.000000
25%,11.000000,11.000000,51.000000,49.000000,0.000000,178.000000
50%,23.000000,24.000000,82.000000,87.000000,0.000000,283.000000
75%,50.000000,53.000000,133.000000,171.500000,0.000000,480.000000
max,11221.000000,16098.000000,3012.000000,6138.000000,12980.000000,17072.000000

In [57]:
test_group_times.describe()

,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,total_spend_time
count,17850.000000,17850.000000,17850.000000,17850.000000,17850.000000,17850.000000
mean,70.500168,72.303473,106.214790,130.254846,46.222073,425.495350
std,224.884006,155.343907,192.209752,243.271654,342.964788,594.911823
min,1.000000,1.000000,0.000000,12.000000,0.000000,38.000000
25%,8.000000,17.000000,48.000000,32.000000,0.000000,156.000000
50%,13.000000,31.000000,74.000000,57.000000,0.000000,256.000000
75%,51.000000,64.000000,118.000000,125.000000,0.000000,465.000000
max,7798.000000,6001.000000,17963.000000,4997.000000,16502.000000,18015.000000